body {
    background-color: red;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  #notes-container {
    max-width: 400px;
    margin: 0 auto;
  }
  .note {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Change the button styles */
  .action-button {
    background-color: #170808; 
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
  }
  .button-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: black; 
    padding: 10px; 
  }